<div id="UIAccordionTemplateContainer">

  <!-- Accordion Component  -->
  <script id="UIAccordionTemplate" type="text/template">

    <section data-menu="<%= E.name %>" class="ac-container">


    </section>

  </script>


  <!-- Accordion Item Container -->
  <script id="UIAccordionItemTemplate" type="text/template">

    <input id="<%= E.id %>" name="<%= E.id %>" type="checkbox" />
    <label for="<%= E.id %>"><%= E.label %></label>
    <article class="ac-large accordion-item-content" data-region="<%= E.regionName %>">

    </article>

  </script>

</div>
