<div id="CartTemplateContainer">

  <!-- Default Cart Layout Template -->
  <script id="DefaultCartLayoutTemplate" type="text/template">
    <div data-region="cartTitleRegion"></div>
    <div data-region="mainCartRegion"></div>
    <div data-region="cartSummaryRegion"></div>
    <div data-region="cartCheckoutActionRegion"></div>

  </script>

  <!-- Cart Title Template -->
  <script id="CartTitleTemplate" type="text/template">
    <h1 class="view-title">My Cart</h1>
  </script>

  <!-- Cart Line Item Template -->
  <script id="CartLineItemTemplate" type="text/template">
    <td><img src="<%= E.getDefaultImagePath(E.thumbnail) %>" alt="<%= E.getDefaultImageName(E.thumbnail) %>" /></td>
    <td><a href="<%= E.getItemUrl(E.uri) %>"><%= E.displayName %></a></td>
    <td>
      <ul>
        <li><%= E.getAvailabilityDisplayText(E.availability.state) %></li>
        <li class="availability-release-date">
          <label data-i18n="releasedOn"><%= E.getI18nLabel('releasedOn') %>: </label>
          <span><%= E.getAvailabilityReleaseDate(E.availability.releaseDate) %></span>
        </li>
      </ul>
    </td>
    <td class="lineitem-price-container">
      <ul>
        <li class="price-list-item"><span class="lineitem-list-price"><%= E.getListPrice(E.unitPrice) %></span></li>
        <li class="price-purchase-item"><%= E.getPurchasePrice(E.unitPrice) %></li>
      </ul>
    </td>
    <td><%= E.quantity %></td>
    <td class="lineitem-price-container">
      <ul>
        <li class="price-list-item"><span class="lineitem-list-price"><%= E.getListPrice(E.price) %></span></li>
        <li class="price-purchase-item"><%= E.getPurchasePrice(E.price) %></li>
      </ul>
    </td>
    <td>[remove]</td>
  </script>

  <!-- Main Cart Template -->
  <script id="MainCartTemplate" type="text/template">
    <table>
      <thead>
        <tr>
          <th>product</th>
          <th>name</th>
          <th>availability</th>
          <th>item price</th>
          <th>quantity</th>
          <th>item total</th>
          <th>remove</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <!-- Cart Summary Template -->
  <script id="CartSummaryTemplate" type="text/template">
    <ul>
      <li>
        <label>Total Quantity</label>
        <%= E.cartTotalQuantity %>
      </li>
      <li>
        <label>Sub Total</label>
        <%= E.cartSubTotal.display %>
      </li>
    </ul>

  </script>

  <!-- Cart Checkout Action Template -->
  <script id="CartChecktouActionTemplate" type="text/template">
    <button class="btn-round btn-primary btn-cmd-checkout">Checkout</button>
  </script>

</div>
