<div id="ProfileTemplateContainer">

  <script type="text/template" id="ProfileMainTemplate">

    <div data-region="profileTitleRegion"></div>
    <div data-region="profileSummaryRegion">
      <div class="activity-indicator-container">
        <img class="activity-indicator" src="/images/activity-indicator-strobe.gif"/>
      </div>
    </div>
    <div data-region="profileSubscriptionSummaryRegion"></div>
    <div data-region="profileAddressesRegion"></div>
    <div data-region="profilePaymentMethodsRegion"></div>

  </script>

  <!-- Profile Title Template -->
  <script id="ProfileTitleTemplate" type="text/template">
    <%= E.getI18nLabel('profile.title') %>
  </script>

  <!-- Profile Summary View Template -->
  <script id="ProfileSummaryViewTemplate" type="text/template">
    <h2><%= E.getI18nLabel('profile.personalInfoTitle') %></h2>
    <dl class="row">
      <dt class="col-xs-4 col-xs-offset-2" data-el-label="profile.firstName"><%= E.getI18nLabel('profile.firstName') %>:</dt>
      <dd class="col-xs-6" data-el-value="givenName"><%= E.givenName %></dd>
      <dt class="col-xs-4 col-xs-offset-2" data-el-label="profile.lastName"><%= E.getI18nLabel('profile.lastName') %>:</dt>
      <dd class="col-xs-6" data-el-value="familyName"><%= E.familyName %></dd>
    </dl>
  </script>

  <!-- Profile Info Form Template -->
  <script id="ProfileInfoFormTemplate" type="text/template">

  </script>

  <!-- Subscription Item Template -->
  <script id="SubscriptionItemTemplate" type="text/template">
    <td data-el-value="subscriptions.displayName"><%= E.displayName %></td>
    <td data-el-value="subscriptions.quantity"><%= E.quantity %></td>
    <td data-el-value="subscriptions.nextBillingDate"><%= E.nextBillingDate %></td>
  </script>

  <!-- ProfileSubscriptionSummaryTemplate  -->
  <script id="ProfileSubscriptionSummaryTemplate" type="text/template">
    <h2><%= E.getI18nLabel('profile.subscriptionsTitle') %></h2>
    <table class="table table-condensed striped-table">
      <thead>
        <tr>
          <th><%= E.getI18nLabel('profile.subscriptionHeader') %></th>
          <th><%= E.getI18nLabel('profile.subscriptionQuanity') %></th>
          <th><%= E.getI18nLabel('profile.subscriptionNextBillingDate') %></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </script>

  <!-- Default Profile Addresses Template -->
  <script id="DefaultProfileAddressesTemplate" type="text/template">
    <h2><%= E.getI18nLabel('profile.addressesTitle') %></h2>
    <ul class="profile-addresses-listing">
      <!-- collection target region -->
    </ul>

  </script>

  <!--Default Profile Address Layout Template-->
  <script id="DefaultProfileAddressLayoutTemplate" type="text/template">
    <!-- itemView tagName: li, class: profile-address-container-->
      <div data-region="profileAddressComponentRegion"></div>
  </script>

  <!-- Default Profile Addresses EmptyView Template -->
  <script id="DefaultProfileAddressesEmptyViewTemplate" type="text/template">
    <!-- itemView tagName: li, class: profile-no-address-msg-container-->
    <%= E.getI18nLabel('profile.noAddressMsg') %>
  </script>

  <!-- Profile Payment Method View -->
  <script id="ProfilePaymentMethodTemplate" type="text/template">

    <dl class="row">
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentCardNumber') %>:</dt>
      <dd class="col-xs-6"><%= E.cardNumber%></dd>
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentCardType') %>:</dt>
      <dd class="col-xs-6"><%= E.cardType%></dd>
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentCardHolder') %>:</dt>
      <dd class="col-xs-6"><%= E.cardHolderName%></dd>
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentExpiryMonth') %>:</dt>
      <dd class="col-xs-6"><%= E.expiryMonth%></dd>
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentExpiryYear') %>:</dt>
      <dd class="col-xs-6"><%= E.expiryYear%></dd>
    </dl>

  </script>

  <!-- ProfilePaymentMethodsTemplate -->
  <script id="ProfilePaymentMethodsTemplate" type="text/template">

    <h2><%= E.getI18nLabel('profile.paymentMethodsTitle') %></h2>
    <ul></ul>

  </script>


  <!-- Profile Payment Method Form
  not used yet
  -->
  <script id="PaymentMethodFormTemplate" type="text/template">
    <form class="form columnar">
      <ul>
        <li>
          <label form="">Card Type</label>
          <select id="" name="" ></select>
        </li>
        <li>
          <label form="">Card Holder Name</label>
          <input id="" name="" >
        </li>
        <li>
          <label form="">Card Number</label>
          <input id="" name="" >
        </li>
        <li>
          <label form="">Expiry Month</label>
          <select id="" name="" ></select>
        </li>
        <li>
          <label form="">Expiry Year</label>
          <select id="" name="" ></select>
        </li>
        <li>
          <label form="">Default Card</label>
          <input type="checkbox" id="" name="" >
        </li>
        <li>
          <div class="button-container">
            <button>Add Credit Card</button>
            <button>Regurn</button>
          </div>
        </li>
      </ul>
    </form>
  </script>


</div>
