<!-- Copyright © 2014 Elastic Path Software Inc. All rights reserved. -->

<div id="ProfileTemplateContainer">

  <script type="text/template" id="ProfileMainTemplate">

    <div data-region="profileTitleRegion"></div>
    <div data-region="profileSummaryRegion">
      <div class="activity-indicator-container">
        <img class="activity-indicator" src="images/activity-indicator-strobe.gif"/>
      </div>
    </div>
    <div data-region="profileSubscriptionSummaryRegion"></div>
    <div data-region="profilePurchaseHistoryRegion"></div>
    <div data-region="profileAddressesRegion"></div>
    <div data-region="profilePaymentMethodsRegion"></div>

  </script>

  <script id="ProfileDeleteConfirmationModalTemplate" type="text/template">
    <p><%= E.getI18nLabel('profile.address.msg.deleteConfirm') %></p>
    <button class="btn btn-primary btn-yes"><%= E.getI18nLabel('general.yes') %></button>
    <button class="btn btn-primary btn-no"><%= E.getI18nLabel('general.no') %></button>
  </script>

  <!-- Profile Title Template -->
  <script id="ProfileTitleTemplate" type="text/template">
    <%= E.getI18nLabel('profile.title') %>
  </script>

  <!-- Profile Summary View Template -->
  <script id="ProfileSummaryViewTemplate" type="text/template">
    <h2><%= E.getI18nLabel('profile.personalInfo.title') %></h2>
    <dl class="row">
      <dt class="col-xs-4 col-xs-offset-2" data-el-label="profile.firstName"><%= E.getI18nLabel('profile.personalInfo.firstName') %>:</dt>
      <dd class="col-xs-6" data-el-value="givenName"><%= E.givenName %></dd>
      <dt class="col-xs-4 col-xs-offset-2" data-el-label="profile.lastName"><%= E.getI18nLabel('profile.personalInfo.lastName') %>:</dt>
      <dd class="col-xs-6" data-el-value="familyName"><%= E.familyName %></dd>
    </dl>
  </script>

  <!-- Profile Info Form Template -->
  <script id="ProfileInfoFormTemplate" type="text/template">

  </script>

  <!--
   === Subscription Templates ===
  -->
  <!-- Subscription Item Template -->
  <script id="SubscriptionItemTemplate" type="text/template">
    <td data-el-value="subscriptions.displayName"><%= E.displayName %></td>
    <td data-el-value="subscriptions.quantity"><%= E.quantity %></td>
    <td data-el-value="subscriptions.nextBillingDate"><%= E.nextBillingDate %></td>
  </script>

  <!-- ProfileSubscriptionSummaryTemplate  -->
  <script id="ProfileSubscriptionSummaryTemplate" type="text/template">
    <h2><%= E.getI18nLabel('profile.subscriptions.title') %></h2>
    <table class="table table-condensed striped-table">
      <thead>
        <tr>
          <th><%= E.getI18nLabel('profile.subscriptions.product') %></th>
          <th><%= E.getI18nLabel('profile.subscriptions.quantity') %></th>
          <th><%= E.getI18nLabel('profile.subscriptions.nextBillingDate') %></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </script>

  <!--
  === Purchases Templates ===
  -->
  <!-- Renders Purchase History Region's title, and a table wrapper, and header for the purchase records collection -->
  <script id="DefaultProfilePurchasesHistoryTemplate" type="text/template">
    <h2><%= E.getI18nLabel('profile.purchases.title') %></h2>
    <table class="table table-condensed striped-table">
      <thead>
      <tr>
        <th><%= E.getI18nLabel('profile.purchases.number') %></th>
        <th><%= E.getI18nLabel('profile.purchases.date') %></th>
        <th><%= E.getI18nLabel('profile.purchases.total') %></th>
        <th><%= E.getI18nLabel('profile.purchases.status') %></th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </script>

  <!-- Renders each purchase records with purhcase number, date, total and status  -->
  <script id="DefaultProfilePurchaseDetailTemplate" type="text/template">
    <td data-el-value="purchase.number" class="profile-purchase-number">
      <a href="<%= E.generateUrl('purchaseHistory', E.link) %>"><%= E.purchaseNumber %></a>
    </td>
    <td data-el-value="purchase.date" class="profile-purchase-date"><%= E.getDate(E.date) %></td>
    <td data-el-value="purchase.total" class="profile-purchase-total"><%= E.getTotal(E.total) %></td>
    <td data-el-value="purchase.status" class="profile-purchase-status"><%= E.getStatusDisplayText(E.status) %></td>
  </script>

  <!-- Rendered when there are no purchase history to display -->
  <script id="DefaultProfilePurchasesEmptyViewTemplate" type="text/template">
    <!-- defaultView, itemView tagName: li, class: profile-no-payment-method-msg-container container-->
    <%= E.getI18nLabel('profile.purchases.noPurchaseMsg') %>
  </script>


  <!--
   === Address Templates ===
  -->
  <!-- Default Profile Addresses Template -->
  <script id="DefaultProfileAddressesTemplate" type="text/template">
    <!-- defaultView, itemView tagName: div -->
    <h2><%= E.getI18nLabel('profile.address.title') %></h2>
    <ul class="profile-addresses-listing">
      <!-- collection target region -->
    </ul>

    <button class="btn btn-primary profile-new-address-btn" data-el-label="profile.addNewAddressBtn"><%= E.getI18nLabel('profile.address.create')%></button>
  </script>

  <!--Default Profile Address Layout Template-->
  <script id="DefaultProfileAddressLayoutTemplate" type="text/template">
    <!-- defaultView, itemView tagName: li, class: profile-address-container-->
    <div data-region="profileAddressComponentRegion"></div>
    <button class="btn profile-edit-address-btn" data-el-label="profile.editAddressBtn"><%= E.getI18nLabel('profile.address.edit') %></button>
    <button class="btn profile-delete-address-btn" data-el-label="profile.deleteAddressBtn" data-actionlink="<%= E.lineitemLink %>"><%= E.getI18nLabel('profile.address.delete') %></button>
  </script>

  <!-- Default Profile Addresses EmptyView Template -->
  <script id="DefaultProfileAddressesEmptyViewTemplate" type="text/template">
    <!-- defaultView, itemView tagName: li, class: profile-no-address-msg-container-->
    <%= E.getI18nLabel('profile.address.msg.noAddress') %>
  </script>


  <!--
   === Payment Method Templates ===
  -->
  <!-- Default Profile Payment Methods Template -->
  <script id="DefaultProfilePaymentsTemplate" type="text/template">
    <h2><%= E.getI18nLabel('profile.paymentMethods.title') %></h2>
    <ul class="profile-payment-methods-listing">
      <!-- collection target region -->
    </ul>
  </script>

  <!--Default Profile Payment Method Layout Template-->
  <script id="DefaultProfilePaymentMethodLayoutTemplate" type="text/template">
    <!-- defaultView, layout tagName: li, class: profile-payment-method-container-->
    <div data-region="profilePaymentMethodComponentRegion"></div>
  </script>

  <!-- Default Profile Payment Method EmptyView Template -->
  <script id="DefaultProfilePaymentMethodEmptyViewTemplate" type="text/template">
    <!-- defaultView, itemView tagName: li, class: profile-no-payment-method-msg-container container-->
    <%= E.getI18nLabel('profile.paymentMethods.msg.noPaymentMethod') %>
  </script>

</div>
