//
// ELastic Path UI Category Browse View
//

.category-item-list-price-value{
  text-decoration:line-through;
}
.category-item-purchase-price,
.category-item-rate-container{
  font-weight:bold;
}
.category-item-title{
  font-size:134%;
  // padding:1rem;

  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.category-item-title a{
  text-decoration:none;
}

.category-items-listing{  // ul containing cat items
    padding: 4rem 0;
    .make-row();
}
.category-item-container{
    margin-bottom: 3rem;
    .make-xs-column(6);
    .make-sm-column(4);
    .make-md-column(3);
    .make-lg-column(3);
}
@media only screen and (max-width:60rem) {
  .pagination-link{
    margin-left: .5rem;
    margin-right: .5rem;
  }
}
.category-item-inner{
    .chromed();
    height: 100%;
}

.category-item-thumbnail{
    display: block;
    max-width: 1000%;
    width: 100%;
    height: auto;
    position: absolute;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.category-item-thumbnail-container{
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 3px;

    // -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
    // box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
}




.category-item-inner{
    .chromed;
    height: 100%;
    ul{
        padding: 0;
    }
}

.category-item-price-container,
.category-item-availability-container{

}

.category-item-list-row{
    .make-row(0); // make bootstrap row with no gutters
 }

.category-item-price-container,
.category-item-rate-container{
    border-bottom: 1px solid #ddd;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.category-item-list-price,
.category-item-purchase-price,
.category-item-rate-container,
.category-item-availability,
.category-item-release-date{

    .category-item-list-row;


    label.item-meta,
    span.item-meta{
        // display: table-cell;
        padding: 5px 0;
        font-size: 1.2rem;
        color: @gray-dark;

        &:nth-of-type(2n){
            background-color: #aaa;
        }

        // border-bottom: 1px solid #ccc;
    }
    label.item-meta{
        .make-xs-column(5, 0);
        // text-align: right;
        color: @gray-light;
    }
    span.item-meta{
        .make-xs-column(7, 16px);
    }

    &:last-child{
        label.item-meta,
        span.item-meta{
            border-bottom: none;
        }
    }
}

.category-item-title{

}

.category-item-list-price-value{
    text-decoration: line-through;
}

