//
// ELastic Path UI Storefront Profile Components
//

.address-container,
.address-form-container{
  padding: 0;
}

.address-form-container label {
  width: 20rem;
}

.address-form-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}