/*
 * Copyright © 2014 Elastic Path Software Inc. All rights reserved.
 *
 * Storefront style mixins
 */
.chromed(@radius:5px,@padding:5px,@colorstart:#eeeeee,@colorend:#e5e5e5,@glowradius:6px,@glowopacity:0.5,@bordercolor:#ddd,@borderwidth:1px){
    // chromed panel styling
    // you can feed this mixin several variables (radius, padding, starting color, finishing color, glow radius, glow opacity, border color)

    background-color: #eee;
    padding: @padding;
    border-radius: @radius;
    border: @borderwidth solid @bordercolor;

    // bg diagonal gradient, grey
    background: @colorstart; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  @colorstart 0%, @colorend 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,@colorstart), color-stop(100%,@colorend)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  @colorstart 0%,@colorend 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  @colorstart 0%,@colorend 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  @colorstart 0%,@colorend 100%); /* IE10+ */
    background: linear-gradient(135deg,  @colorstart 0%,@colorend 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@colorstart', endColorstr='@colorend',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    // inner glow
    -webkit-box-shadow: inset 0px 0px @glowradius 2px rgba(255, 255, 255, @glowopacity);
    box-shadow: inset 0px 0px @glowradius 2px rgba(255, 255, 255, @glowopacity);

    // bottom shadow
    -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow:          0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

// Creates an affixed (sticky) sidebar for elements like the summary container on the checkout and cart pages.
// For medium and large resolutions only.
.affixed-sidebar {
  // Fix the position (and reluctantly) the width at the medium and large Bootstrap resolution breakpoints
  @media screen and (min-width: @screen-md) {
    width: 293.328px;
    position: fixed;
    display: block;
  }
  @media screen and (min-width: @screen-lg) {
    width: 262.5px;
  }

  display: inline-block;
  padding: 2rem;
  border: 3px solid @brand-primary;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: left;
  position: relative;

  h3 {
    margin: 0 0 2rem 0;
  }
}

// style mixins to flatten UI elements

.flat{

    &form{
        background: red;
    }
}