<!-- Copyright © 2014 Elastic Path Software Inc. All rights reserved. -->

<div class="SearchModuleTemplateContainer">

  <script id="SearchModuleDefaultTemplate" type="text/template">
    <div class="form-group">
      <input class="input-search header-search-input"  type="text" placeholder="search" />
    </div>
    <button class="btn-header-search"><span class="icon"></span>Search</button>
  </script>

  <script id="SearchResultsTemplate" type="text/template">
    <h1 class="view-title">Search Results</h1>

        <div class="search-results-inner" data-region="searchResultsList"></div>


  </script>

  <script id="SearchResultsLayoutContainer" type="text/template">
    <div data-region="searchResultsRegion"></div>
  </script>

  <script id="SearchNoResultsTemplate" type="text/template">
    <div class="no-results-container">No results found</div>
  </script>

  <script id="SearchResultsItemContainer" type="text/template">
    <div class="search-results-item-inner">
      <img src="images/img-placeholder.png" class="item-img" />
      <div data-region="displayName"><a href="<%= E.generateItemHref(E.uri) %>"><%= E.name %></a></div>
      <div data-region="price"><%= E.price %></div>
      <div class="btn-container">
        <button class="btn-view-item-detail">View</button>
        <button class="btn-addtocart">Add to Cart</button>
      </div>
    </div>







  </script>

</div>
