<!-- Copyright © 2014 Elastic Path Software Inc. All rights reserved. -->

<div id="IATemplateContainer">

  <!--


    MAIN NAVIGATION


  -->

  <!-- Main Navigation Template Container -->
  <script type="text/template" id="MainNavTemplate">

    <nav class="main-nav">
        <button class="btn-main-nav-toggle btn-link-cmd">
          Categories
        </button>
        <ul class="main-nav-list nav navbar-nav" data-region="mainNavList">

        </ul>
    </nav>

  </script>

  <!-- Navigation item Template -->
  <script type="text/template" id="NavItemTemplate">
    <a href="<%= E.generateCategoryHref(E.href) %>" class="nav-item" title="<%= E.displayName %>"><span><%= E.displayName %></span></a>
  </script>


  <!--


    CATEGORIES


  -->
  <!-- Browse Categories and Items Layout Container -->
  <script id="BrowseCategoryLayoutContainer" type="text/template">
    <h1 class="view-title"><%= E.title %></h1>
    <div class="row">
      <div class="fifth" data-region="categoryRegion">categories</div>
      <div class="fourfifth" data-region="itemRegion">
        <div class="activity-indicator-container">
          <img class="activity-indicator" src="images/activity-indicator-strobe.gif"/>
        </div>
      </div>
    </div>
  </script>

  <!-- Sub Category Nav list -->
  <script id="BrowseCategoryListTemplate" type="text/template">
    <h2 class="browse-subtitle">Sub Categories</h2>
    <div data-region="subCategoryListRegion">
      <ul class="browse-subcategory-list"></ul>
    </div>
  </script>

  <!-- Category Node Item -->
  <script data-view="IACategoryNodeView" type="text/template">
    <a href="#" class="ia-category-node">Node Item<%= E.name %></a>
  </script>

  <!-- Sub Category Item Template  -->
  <script id="BrowseCategoryItemTemplate" type="text/template">

    <a href="#" class="cmd-nav-item" title="<%= E.label %>" data-route="<%= E.name %>"><span><%= E.name %></span></a>

  </script>

  <!-- Item List Container -->
  <script id="BrowseItemListTemplate" type="text/template">
    <h2 class="browse-subtitle">Products</h2>
    <div data-region="browseItemListRegion">
      <ul class="browse-item-list"></ul>
    </div>
  </script>

  <!-- No Sub Cats View -->
  <script id="NoSubCatsView" type="text/template">
    <p></p>
  </script>

  <!-- Item Container -->
  <script id="BrowseItemTemplate" type="text/template">

    <div>
      <img src="images/img-placeholder.png" class="item-img" />
      <div data-region="displayName"><a href="#itemdetail/<%= E.isoId %>"><%= E.name %></a></div>
      <div data-region="price"><a href="#itemdetail/<%= E.isoId %>"><%= E.price %></a></div>
      <!--<div class="btn-container">-->
        <!--<button class="btn-view-item-detail">View</button>-->
        <!--<button class="btn-addtocart">Add to Cart</button>-->
      <!--</div>-->
    </div>

  </script>


</div>
