<div id="ProfileTemplateContainer">

  <script type="text/template" id="ProfileMainTemplate">

    <div data-region="profileTitleRegion"></div>
    <div data-region="profileSummaryRegion">
      <div class="activity-indicator-container">
        <img class="activity-indicator" src="/images/activity-indicator-strobe.gif"/>
      </div>
    </div>
    <div data-region="profileSubscriptionSummaryRegion"></div>
    <div data-region="profilePaymentMethodsRegion"></div>
    <div data-region="profileShippingAddressRegion"></div>
    <div data-region="profileBillingAddressRegion"></div>

  </script>

  <!-- Profile Title Template -->
  <script id="ProfileTitleTemplate" type="text/template">
    <%= E.getI18nLabel('profile.title') %>
  </script>

  <!-- Profile Summary View Template -->
  <script id="ProfileSummaryViewTemplate" type="text/template">
    <h2><%= E.getI18nLabel('profile.personalInfoTitle') %></h2>
    <dl class="row">
      <dt class="col-xs-4 col-xs-offset-2" data-el-label="profile.firstName"><%= E.getI18nLabel('profile.firstName') %>:</dt>
      <dd class="col-xs-6" data-el-value="givenName"><%= E.givenName %></dd>
      <dt class="col-xs-4 col-xs-offset-2" data-el-label="profile.lastName"><%= E.getI18nLabel('profile.lastName') %>:</dt>
      <dd class="col-xs-6" data-el-value="familyName"><%= E.familyName %></dd>
    </dl>
  </script>

  <!-- Profile Info Form Template -->
  <script id="ProfileInfoFormTemplate" type="text/template">

  </script>

  <!-- Subscription Item Template -->
  <script id="SubscriptionItemTemplate" type="text/template">
    <td data-el-value="subscriptions.displayName"><%= E.displayName %></td>
    <td data-el-value="subscriptions.quantity"><%= E.quantity %></td>
    <td data-el-value="subscriptions.nextBillingDate"><%= E.nextBillingDate %></td>
  </script>

  <!-- ProfileSubscriptionSummaryTemplate  -->
  <script id="ProfileSubscriptionSummaryTemplate" type="text/template">
    <h2><%= E.getI18nLabel('profile.subscriptionsTitle') %></h2>
    <table class="table table-condensed striped-table">
      <thead>
        <tr>
          <th><%= E.getI18nLabel('profile.subscriptionHeader') %></th>
          <th><%= E.getI18nLabel('profile.subscriptionQuanity') %></th>
          <th><%= E.getI18nLabel('profile.subscriptionNextBillingDate') %></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </script>


  <!-- Profile Billing Address Form
  Not used yet
  -->
  <script id="ProfileBillingAddressFormTemplate" type="text/template">
    <form class="form column-form">
      <ul>
        <li class="required-field">
          <label for="BillingFirstName">First Name</label>
          <input id="BillingFirstName" name="BillingFirstName" type="text" >
        </li>
        <li class="required-field">
          <label for="BillingLastName">Last Name</label>
          <input id="BillingLastName" name="BillingLastName" type="text" >
        </li>
        <li class="required-field">
          <label for="BillingAddressLine1">Address Line 1</label>
          <input id="BillingAddressLine1" name="BillingAddressLine1" type="text" >
        </li>
        <li>
          <label for="BillingAddressLine2">Address Line 2</label>
          <input id="BillingAddressLine2" name="BillingAddressLine2" type="text" >
        </li>
        <li class="required-field">
          <label for="BillingCity">City</label>
          <input id="BillingCity" name="BillingCity" type="text" >
        </li>
        <li class="required-field">
          <label for="BillingCountry">Country</label>
          <select id="BillingCountry" name="BillingCountry"></select>
        </li>
        <li class="required-field">
          <label for="BillingStateProv">State / Province</label>
          <select id="BillingStateProv" name="BillingStateProv" ></select>
        </li>
        <li class="required-field">
          <label for="BillingZipPostal">Zip / Postal Code</label>
          <input id="BillingZipPostal" name="BillingZipPostal" type="text" >
        </li>
        <li class="required-field">
          <label for="BillingPhone">Phone</label>
          <input id="BillingPhone" name="BillingPhone" type="text" >
        </li>
      </ul>
    </form>
  </script>
  <!-- Profile Billing Address View -->
  <!-- Profile Shipping Address View -->
  <!-- Profile Shipping Address Form
  not used yet
   -->
  <script id="ProfileShippingAddressFormTemplate" type="text/template">
    <form class="form column-form">
      <ul>
        <li class="required-field">
          <label for="ShippingFirstName">First Name</label>
          <input id="ShippingFirstName" name="ShippingFirstName" type="text" >
        </li>
        <li class="required-field">
          <label for="ShippingLastName">Last Name</label>
          <input id="ShippingLastName" name="ShippingLastName" type="text" >
        </li>
        <li class="required-field">
          <label for="ShippingAddressLine1">Address Line 1</label>
          <input id="ShippingAddressLine1" name="ShippingAddressLine1" type="text" >
        </li>
        <li>
          <label for="ShippingAddressLine2">Address Line 2</label>
          <input id="ShippingAddressLine2" name="ShippingAddressLine2" type="text" >
        </li>
        <li class="required-field">
          <label for="ShippingCity">City</label>
          <input id="ShippingCity" name="ShippingCity" type="text" >
        </li>
        <li class="required-field">
          <label for="ShippingCountry">Country</label>
          <select id="ShippingCountry" name="ShippingCountry"></select>
        </li>
        <li class="required-field">
          <label for="ShippingStateProv">State / Province</label>
          <select id="ShippingStateProv" name="ShippingStateProv" ></select>
        </li>
        <li class="required-field">
          <label for="ShippingZipPostal">Zip / Postal Code</label>
          <input id="ShippingZipPostal" name="ShippingZipPostal" type="text" >
        </li>
        <li class="required-field">
          <label for="ShippingPhone">Phone</label>
          <input id="ShippingPhone" name="ShippingPhone" type="text" >
        </li>
      </ul>
    </form>
  </script>

  <!-- Profile Payment Method View -->
  <script id="ProfilePaymentMethodTemplate" type="text/template">

    <dl class="row">
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentCardNumber') %>:</dt>
      <dd class="col-xs-6"><%= E.cardNumber%></dd>
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentCardType') %>:</dt>
      <dd class="col-xs-6"><%= E.cardType%></dd>
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentCardHolder') %>:</dt>
      <dd class="col-xs-6"><%= E.cardHolderName%></dd>
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentExpiryMonth') %>:</dt>
      <dd class="col-xs-6"><%= E.expiryMonth%></dd>
      <dt class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('profile.paymentExpiryYear') %>:</dt>
      <dd class="col-xs-6"><%= E.expiryYear%></dd>
    </dl>

  </script>

  <!-- ProfilePaymentMethodsTemplate -->
  <script id="ProfilePaymentMethodsTemplate" type="text/template">

    <h2><%= E.getI18nLabel('profile.paymentMethodsTitle') %></h2>
    <ul></ul>

  </script>


  <!-- Profile Payment Method Form
  not used yet
  -->
  <script id="PaymentMethodFormTemplate" type="text/template">
    <form class="form columnar">
      <ul>
        <li>
          <label form="">Card Type</label>
          <select id="" name="" ></select>
        </li>
        <li>
          <label form="">Card Holder Name</label>
          <input id="" name="" >
        </li>
        <li>
          <label form="">Card Number</label>
          <input id="" name="" >
        </li>
        <li>
          <label form="">Expiry Month</label>
          <select id="" name="" ></select>
        </li>
        <li>
          <label form="">Expiry Year</label>
          <select id="" name="" ></select>
        </li>
        <li>
          <label form="">Default Card</label>
          <input type="checkbox" id="" name="" >
        </li>
        <li>
          <div class="button-container">
            <button>Add Credit Card</button>
            <button>Regurn</button>
          </div>
        </li>
      </ul>
    </form>
  </script>


</div>
