<div id="AppHeaderTemplateContainer">

  <!-- Header Container -->
  <script type="text/template" id="AppHeaderDefaultTemplateContainer">



    <!-- Logo Container -->
    <div class="logo-container">[logo template goes here]</div>

    <!-- Main Search Container -->
    <div class="main-search-container">[main search goes here]</div>
    <!-- Global Nav Container -->
    <div class="global-nav-container">
      <ul>
        <li class="global-nav-cart-nav">
          <a href="#mycart">
            <span>Shopping Cart</span>
          </a>
        </li>
        <li id="oAuthMenu" class="dropdown">
          <a href="#" class="oauth-menu-toggle" data-target="dropdown-menu">[login]<%= E.loginText %><b class="caret"></b></a>

          <div class="dropdown-menu">
            <ul class="outerMenu" id="oAuthOuterMenu">
              <div class="innerMenu" id="oAuthInnerMenu">
                <div id="OAuthFeedbackContainer" style="margin-right:25px">
                  <span class="feedback-label"></span>
                </div>
                <div id="OAuthGreetingContainer" style="margin-right:25px">
                  <span class="greeting-label"></span>
                  <a href="#" class="oAuth-logout"><%= E.getI18nLabel('auth.logout') %></a>
                </div>
                <form id="OAuthForm" style="margin-right:25px">
                  <label for="OAuthUserName"><%= E.getI18nLabel('auth.userName') %>:</label>
                  <input id="OAuthUserName" name="OAuthUserName" type="text" size="40"/>
                  <label for="OAuthPassword"><%= E.getI18nLabel('auth.password') %>:</label>
                  <input id="OAuthPassword" name="OAuthPassword" type="password" size="40"/>
                  <input id="OAuthScope" name="OAuthScope" list="oAuthScopeList" type="hidden" value="<%= E.scope%>">
                  <input id="OAuthRole" name="OAuthRole" list="oAuthRoleList" type="hidden" value="REGISTERED">
                  <button class="btn btn-round btn-primary btn-login-cmd" data-cmd="login" ><%= E.getI18nLabel('auth.login') %></button>
                </form>
              </div>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- Main Nav Container -->
    <div class="main-nav-container" data-region="mainNavRegion">
      <img src="/images/activity-indicator-strobe.gif" />
    </div>

  </script>

  <!-- Logo Template -->
  <script id="LogoTemplateContainer" type="text/template">

    <a href="<%= E.homeUri %>" class="cmd-home-logo">
      <img src="<%= E.logoImgPath %>" >
    </a>

  </script>

  <script id="EPDevAppHeaderInstrumentationTemplate" type="text/template">

    <h2 class="ep-dev-instrumentation-header">App Header <button id="EPDevReloadHeaderBtn">*</button></h2>
    <table class="ep-dev-instrumentation-table" data-region="epDevAppHeaderInstrumentationList">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>


  </script>
  <script id="EPDevAppHeaderInstrumentationItemTemplate" type="text/template">
      <td>
        <%= E.label %>
      </td>
      <td id="<%= E.ElId %>"></td>
  </script>

</div>
