<div id="AppHeaderTemplateContainer">

  <!-- Header Container -->
  <script type="text/template" id="AppHeaderDefaultTemplateContainer">



    <!-- Logo Container -->
    <div class="logo-container">[logo template goes here]</div>

    <!-- Main Search Container -->
    <div class="main-search-container">[main search goes here]</div>
    <!-- Global Nav Container -->
    <div class="global-nav-container">
      <ul>
        <li class="global-nav-cart-nav">
          <a href="#mycart">
            <span>Shopping Cart</span>
          </a>
        </li>
        <li>
          <button class="btn-cmd" data-cmd="auth">
            Login
          </button>
        </li>
      </ul>
    </div>
    <!-- Main Nav Container -->
    <div class="main-nav-container" data-region="mainNavRegion">
      <img src="/images/activity-indicator-strobe.gif" />
    </div>

  </script>

  <!-- Logo Template -->
  <script id="LogoTemplateContainer" type="text/template">

    <a href="<%= E.homeUri %>" class="cmd-home-logo">
      <img src="<%= E.logoImgPath %>" >
    </a>

  </script>

  <script id="EPDevAppHeaderInstrumentationTemplate" type="text/template">

    <h2 class="ep-dev-instrumentation-header">App Header <button id="EPDevReloadHeaderBtn">*</button></h2>
    <table class="ep-dev-instrumentation-table" data-region="epDevAppHeaderInstrumentationList">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>


  </script>
  <script id="EPDevAppHeaderInstrumentationItemTemplate" type="text/template">
      <td>
        <%= E.label %>
      </td>
      <td id="<%= E.ElId %>"></td>
  </script>

</div>
