<div id="AppHeaderTemplateContainer">

  <!-- Header Container -->
  <script type="text/template" id="AppHeaderDefaultTemplateContainer">



    <!-- Logo Container -->
    <div class="logo-container">[logo template goes here]</div>

    <!-- Main Search Container -->
    <div class="main-search-container">[main search goes here]</div>

    <!-- Global Nav Container -->
      <ul class="global-nav-container">
        <li class="global-nav-cart-nav">
          <a href="#mycart">
            <span>Shopping Cart</span>
          </a>
        </li>
        <li data-region="authMenuItemRegion"></li>
      </ul>

    <!-- Main Nav Container -->
    <div class="main-nav-container" data-region="mainNavRegion">
      <img src="/images/activity-indicator-strobe.gif" />
    </div>

  </script>

  <!-- Logo Template -->
  <script id="LogoTemplateContainer" type="text/template">

    <a href="<%= E.homeUri %>" class="cmd-home-logo">
      <img src="<%= E.logoImgPath %>" >
    </a>

  </script>



</div>
