<!-- Copyright © 2014 Elastic Path Software Inc. All rights reserved. -->

<div id="ReceiptTemplateContainer">

  <!-- Renders a purchase receipt wrapper around purchase information. -->
  <!-- can render purchase success messages, and provide redirect link -->
  <script id="PurchaseReceiptTemplate" type="text/template">
    <h2><%= E.getI18nLabel('purchaseInfo.purchaseReceipt.pageTitle') %></h2>
    <div data-region="purchaseInformationRegion"></div>
  </script>

  <!-- Renders a purchase details wrapper around purchase information, which contains link back to profile page-->
  <script id="PurchaseDetailsTemplate" type="text/template">
    <h2><%= E.getI18nLabel('purchaseInfo.purchaseDetails.pageTitle') %></h2>
    <div data-region="purchaseInformationRegion"></div>
    <p><a href="<%= E.getLink('profile') %>"><- <%= E.getI18nLabel('purchaseInfo.purchaseDetails.backToProfile') %></a></p>
  </script>

  <!-- Renders the detailed information about a purchase: summary, purchased items, billing address, payment method -->
  <script id="PurchaseInformationTemplate" type="text/temmplate">
    <div data-region="purchaseSummaryRegion"></div>
    <h3><%= E.getI18nLabel('purchaseInfo.itemsTitle') %></h3>
    <div data-region="purchaseLineItemsRegion" class="purchase-items-container"></div>
    <div data-region="purchaseBillingAddressRegion"></div>
    <div data-region="purchasePaymentMethodsRegion"></div>
  </script>

  <script id="PurchaseSummaryTemplate" type="text/template">
    <h3><%= E.getI18nLabel('purchaseInfo.summaryTitle') %></h3>

    <table class="table table-striped">
      <tbody>
        <tr>
          <td><%= E.getI18nLabel('purchaseInfo.orderStatus') %>:</td>
          <td data-el-value="status"><%= E.getStatusDisplayText(E.status) %></td>
        </tr>
        <tr class="<%= E.isContainerVisible(E.purchaseNumber) %>" data-el-container="purchaseNumber">
          <td ><%= E.getI18nLabel('purchaseInfo.orderNumber') %>:</td>
          <td data-el-value="purchaseNumber"><%= E.purchaseNumber %></td>
        </tr>
        <tr class="<%= E.isContainerVisible(E.taxTotal) %>" data-el-container="taxTotal">
          <td><%= E.getI18nLabel('purchaseInfo.orderTaxTotal') %>:</td>
          <td data-el-value="taxTotal"><%= E.taxTotal %></td>
        </tr>
        <tr>
          <td><%= E.getI18nLabel('purchaseInfo.orderDate') %>:</td>
          <td data-el-value="purchaseDate"><%= E.purchaseDate %></td>
        </tr>
        <tr class="<%= E.isContainerVisible(E.orderTotal) %>" data-el-container="orderTotal">
          <td><%= E.getI18nLabel('purchaseInfo.orderTotal') %>:</td>
          <td data-el-value="orderTotal"><%= E.orderTotal %></td>
        </tr>
      </tbody>
    </table>
  </script>

  <!-- Purchase Billing Address -->
  <script id="PurchaseBillingAddress" type="text/template">
    <h3><%= E.getI18nLabel('purchaseInfo.billingTitle') %></h3>
    <div data-region="purchaseAddressComponentRegion"></div>
  </script>

  <!-- Purchase Payment Means -->
  <script id="PurchasePaymentMeans" type="text/template">
    <h3><%= E.getI18nLabel('purchaseInfo.paymentMethodTitle') %></h3>
    <p data-el-value="paymentMeans.display"><%= E.displayValue %></p>
  </script>

  <!-- Purchase Line Item -->
  <script id="PurchaseLineItem" type="text/template">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <label><%= E.getI18nLabel('purchaseInfo.itemName') %>:</label>
          </td>
          <td>
            <span data-el-value="lineItem.name"><%= E.name %></span>
          </td>
        </tr>
        <tr>
          <td>
            <label><%= E.getI18nLabel('purchaseInfo.itemQuantity') %>:</label>
          </td>
          <td>
            <span data-el-value="lineItem.quantity"><%= E.quantity %></span>
          </td>
        </tr>
        <tr class="<%= E.isContainerVisible(E.amount.display) %>" data-el-container="lineItem.itemSubTotal">
          <td>
            <label><%= E.getI18nLabel('purchaseInfo.itemSubTotal') %>:</label>
          </td>
          <td>
            <span class="<%= E.checkIfVisible(E) %>" data-el-value="lineItem.amount">&nbsp;<%= E.amount.display %></span>
          </td>
        </tr>
        <tr class="<%= E.isContainerVisible(E.tax.display) %>" data-el-container="lineItem.itemTax">
          <td>
            <label><%= E.getI18nLabel('purchaseInfo.itemTax') %>:</label>
          </td>
          <td>
            <span data-el-value="lineItem.tax">&nbsp;<%= E.tax.display %></span>
          </td>
        </tr>
        <tr>
          <td>
            <label><%= E.getI18nLabel('purchaseInfo.itemTotal') %>:</label>
          </td>
          <td>
            <span data-el-value="lineItem.total"><%= E.total.display %></span>
          </td>
        </tr>
      </tbody>
    </table>

  </script>

</div>
