<!-- Copyright © 2014 Elastic Path Software Inc. All rights reserved. -->

<div id="AuthTemplateContainer">

  <!-- Default Auth Main Template -->
  <script id="DefaultAuthLayoutTemplate" type="text/template">


    <div class="auth-container">
      <button class="global-nav-link global-nav-login btn-auth-menu" data-toggle="modal" data-target="#login-modal"
              data-i18n="<%= E.getMenuItemText() %>" data-el-label="global.profile">
        <span class="icon"></span><%= E.getLoginText() %>
      </button>
      <!-- ^^^ added '.global-nav-link and .global-nav-cart' classes as styling selectors -->
      <div data-region="authMainRegion" class="auth-nav-container"></div>
    </div>


  </script>

  <!-- Auth Login Form Template -->
  <script id="AuthLoginFormTemplate" type="text/template">
    <h2><%= E.getI18nLabel('auth.loginTitle') %></h2>
    <div class="auth-feedback-container" data-i18n=""></div>

    <form role="form" method="POST">
      <div class="form-group">
        <label for="OAuthUserName"><%= E.getI18nLabel('auth.userName') %>:</label>
        <input class="form-control" id="OAuthUserName" name="OAuthUserName" type="text" autofocus="autofocus"/>
      </div>
      <div class="form-group">
        <label for="OAuthPassword"><%= E.getI18nLabel('auth.password') %>:</label>
        <input class="form-control" id="OAuthPassword" name="OAuthPassword" type="password"/>
      </div>
      <input id="OAuthScope" name="OAuthScope" list="oAuthScopeList" type="hidden" value="<%= E.scope%>">
      <input id="OAuthRole" name="OAuthRole" list="oAuthRoleList" type="hidden" value="REGISTERED">
      <div class="form-group">
          <button  class="btn-auth-login" data-cmd="login"><%= E.getI18nLabel('auth.login') %></button>
      </div>
    </form>
  </script>

  <!-- Auth Profile Menu Template -->
  <script id="AuthProfileMenuTemplate" type="text/template">
    <li><a href="<%= E.generateHref('profile') %>" class="profile-link" data-el-label="auth.profile"><span class="icon"></span><%=
      E.getI18nLabel('auth.profile') %></a></li>
    <li>
      <button class="btn-cmd btn-auth-logout" data-el-label="auth.logout"><span class="icon"></span><%= E.getI18nLabel('auth.logout') %></button>
    </li>
  </script>
</div>
