<!-- Copyright © 2014 Elastic Path Software Inc. All rights reserved. -->

<div id="ReceiptTemplateContainer">

  <!-- Purchase Confirmation Layout Template -->
  <script id="PurchaseConfirmationLayoutTemplate" type="text/temmplate">
    <h2><%= E.getI18nLabel('receipt.pageTitle') %></h2>
    <h3><%= E.getI18nLabel('receipt.summaryTitle') %></h3>
    <div data-region="purchaseConfirmationRegion"></div>
    <h3><%= E.getI18nLabel('receipt.itemsTitle') %></h3>
    <div data-region="confirmationLineItemsRegion" class="purchaseconfirm-items-container"></div>
    <div data-region="confirmationBillingAddressRegion"></div>
    <div data-region="confirmationPaymentMethodsRegion"></div>

  </script>

  <!-- Purchase Confirmation Template -->
  <script id="PurchaseConfirmationTemplate" type="text/template">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><%= E.getI18nLabel('receipt.orderStatus') %>:</td>
          <td data-el-value="status"><%= E.status %></td>
        </tr>
        <tr class="<%= E.isContainerVisisble(E.purchaseNumber) %>" data-el-container="purchaseNumber">
          <td ><%= E.getI18nLabel('receipt.orderNumber') %>:</td>
          <td data-el-value="purchaseNumber"><%= E.purchaseNumber %></td>
        </tr>
        <tr class="<%= E.isContainerVisisble(E.taxTotal) %>" data-el-container="taxTotal">
          <td><%= E.getI18nLabel('receipt.orderTaxTotal') %>:</td>
          <td data-el-value="taxTotal"><%= E.taxTotal %></td>
        </tr>
        <tr>
          <td><%= E.getI18nLabel('receipt.orderDate') %>:</td>
          <td data-el-value="purchaseDate"><%= E.purchaseDate %></td>
        </tr>
        <tr class="<%= E.isContainerVisisble(E.orderTotal) %>" data-el-container="orderTotal">
          <td><%= E.getI18nLabel('receipt.orderTotal') %>:</td>
          <td data-el-value="orderTotal"><%= E.orderTotal %></td>
        </tr>
      </tbody>
    </table>



  </script>

  <!-- Purchase Confirmation Billing Address -->
  <script id="PurchaseConfirmationBillingAddress" type="text/template">
    <h3><%= E.getI18nLabel('receipt.billingTitle') %></h3>
    <div data-region="confirmationAddressComponentRegion"></div>
  </script>

  <!-- Purchase Confirmation Payment Means -->
  <script id="PurchaseConfirmationPaymentMeans" type="text/template">
    <h3><%= E.getI18nLabel('receipt.paymentMethodTitle') %></h3>
    <p data-el-value="paymentMeans.display"><%= E.displayValue %></p>

  </script>

  <!-- Purchase Confirmation Line Item -->
  <script id="PurchaseConfirmationLineItem" type="text/template">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <label><%= E.getI18nLabel('receipt.itemName') %>:</label>
          </td>
          <td>
            <span data-el-value="lineItem.name"><%= E.name %></span>
          </td>
        </tr>
        <tr>
          <td>
            <label><%= E.getI18nLabel('receipt.itemQuantity') %>:</label>
          </td>
          <td>
            <span data-el-value="lineItem.quantity"><%= E.quantity %></span>
          </td>
        </tr>
        <tr class="<%= E.isContainerVisisble(E.amount.display) %>" data-el-container="lineItem.itemSubTotal">
          <td>
            <label><%= E.getI18nLabel('receipt.itemSubTotal') %>:</label>
          </td>
          <td>
            <span class="<%= E.checkIfVisible(E) %>" data-el-value="lineItem.amount">&nbsp;<%= E.amount.display %></span>
          </td>
        </tr>
        <tr class="<%= E.isContainerVisisble(E.tax.display) %>" data-el-container="lineItem.itemTax">
          <td>
            <label><%= E.getI18nLabel('receipt.itemTax') %>:</label>
          </td>
          <td>
            <span data-el-value="lineItem.tax">&nbsp;<%= E.tax.display %></span>
          </td>
        </tr>
        <tr>
          <td>
            <label><%= E.getI18nLabel('receipt.itemTotal') %>:</label>
          </td>
          <td>
            <span data-el-value="lineItem.total"><%= E.total.display %></span>
          </td>
        </tr>
      </tbody>
    </table>

  </script>

</div>
