<div id="ReceiptTemplateContainer">

  <script type="text/template" id="ReceiptMainTemplate">

    <div class="receipt-container">TMPL</div>

  </script>

  <!-- Purchase Confirmation Layout Template -->
  <script id="PurchaseConfirmationLayoutTemplate" type="text/temmplate">
    <h2><%= E.getI18nLabel('receipt.pageTitle') %></h2>
    <h3><%= E.getI18nLabel('receipt.summaryTitle') %></h3>
    <div data-region="purchaseConfirmationRegion"></div>
    <h3><%= E.getI18nLabel('receipt.itemsTitle') %></h3>
    <div data-region="confirmationLineItemsRegion" class="purchaseconfirm-items-container"></div>
    <h3><%= E.getI18nLabel('receipt.billingTitle') %></h3>
    <div data-region="confirmationBillingAddressRegion"></div>
    <h3><%= E.getI18nLabel('receipt.paymentMethodTitle') %></h3>
    <div data-region="confirmationPaymentMethodsRegion"></div>

  </script>

  <!-- Purchase Confirmation Template -->
  <script id="PurchaseConfirmationTemplate" type="text/template">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('receipt.orderStatus') %>:</td>
          <td class="col-xs-6" data-el-value="status"><%= E.status %></td>
        </tr>
        <tr>
          <td class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('receipt.orderNumber') %>:</td>
          <td class="col-xs-6" data-el-value="purchaseNumber"><%= E.purchaseNumber %></td>
        </tr>
        <td class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('receipt.orderTaxTotal') %>:</td>
        <td class="col-xs-6" data-el-value="taxTotal"><%= E.taxTotal %></td>
        </tr>
        <tr>
          <td class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('receipt.orderDate') %>:</td>
          <td class="col-xs-6" data-el-value="purchaseDate"><%= E.purchaseDate %></td>
        </tr>
        <tr>
          <td class="col-xs-4 col-xs-offset-2"><%= E.getI18nLabel('receipt.orderTotal') %>:</td>
          <td class="col-xs-6" data-el-value="orderTotal"><%= E.orderTotal %></td>
        </tr>
      </tbody>
    </table>



  </script>


  <!-- Purchase Confirmation Billing Address -->
  <script id="PurchaseConfirmationBillingAddress" type="text/template">
    <p data-el-value="billingAddress.name"><%= E.name %></p>
    <p data-el-value="billingAddress.streetAddress"><%= E.streetAddress %></p>
    <p data-el-value="billingAddress.extendedAddress"><%= E.extendedAddress %></p>
    <p data-el-value="billingAddress.locality"><%= E.locality %></p>
    <p data-el-value="billingAddress.region"><%= E.region %></p>
    <p data-el-value="billingAddress.country"><%= E.country %></p>
    <p data-el-value="billingAddress.postalCode"><%= E.postalCode %></p>
  </script>

  <!-- Purchase Confirmation Line Item -->
  <script id="PurchaseConfirmationLineItem" type="text/template">
    <table class="table">
      <tbody>
        <tr>
          <td class="row">
            <label class="col-xs-2 col-xs-offset-2"><%= E.getI18nLabel('receipt.itemName') %>:</label>
            <span class="col-xs-8" data-el-value="lineItem.name"><%= E.name %></span>
          </td>
        </tr>
        <tr>
          <td class="row">
            <label class="col-xs-2 col-xs-offset-2"><%= E.getI18nLabel('receipt.itemQuantity') %>:</label>
            <span class="col-xs-8" data-el-value="lineItem.quantity"><%= E.quantity %></span>
          </td>
        </tr>
        <tr>
          <td class="row  <%= E.checkIfVisible(E) %>">
            <label class="col-xs-2 col-xs-offset-2"><%= E.getI18nLabel('receipt.itemSubTotal') %>:</label>
            <span class="col-xs-8 <%= E.checkIfVisible(E) %>" data-el-value="lineItem.amount">&nbsp;<%= E.amount.display %></span>
          </td>
        </tr>
        <tr>
          <td class="row  <%= E.checkIfVisible(E) %>">
            <label class="col-xs-2 col-xs-offset-2"><%= E.getI18nLabel('receipt.itemTax') %>:</label>
            <span class="col-xs-8 <%= E.checkIfVisible(E) %>" data-el-value="lineItem.tax">&nbsp;<%= E.tax.display %></span>
          </td>
        </tr>
        <tr>
          <td class="row">
            <label class="col-xs-2 col-xs-offset-2"><%= E.getI18nLabel('receipt.itemTotal') %>:</label>
            <span class="col-xs-8" data-el-value="lineItem.total"><%= E.total.display %></span>
          </td>
        </tr>
      </tbody>
    </table>

  </script>

</div>
