<div id="AuthTemplateContainer">

  <!-- Default Auth Main Template -->
  <script id="DefaultAuthLayoutTemplate" type="text/template">
    <button class="btn-cmd btn-auth-menu" data-i18n="<%= E.getMenuItemText() %>"><%= E.getLoginText() %></button>
    <div data-region="authMainRegion" class="auth-nav-container"></div>
  </script>

  <!-- Auth Login Form Template -->
  <script id="AuthLoginFormTemplate" type="text/template">
        <div class="auth-feedback-container" data-i18n=""></div>

        <form class="auth-login-form">
          <ul>
            <li>
              <label for="OAuthUserName"><%= E.getI18nLabel('auth.userName') %>:</label>
              <input class="auth-input-field" id="OAuthUserName" name="OAuthUserName" type="text" autofocus="autofocus" />
            </li>
            <li>
              <label for="OAuthPassword"><%= E.getI18nLabel('auth.password') %>:</label>
              <input class="auth-input-field" id="OAuthPassword" name="OAuthPassword" type="password"/>
            </li>
            <li>
              <input id="OAuthScope" name="OAuthScope" list="oAuthScopeList" type="hidden" value="<%= E.scope%>">
            </li>
            <li>
              <input id="OAuthRole" name="OAuthRole" list="oAuthRoleList" type="hidden" value="REGISTERED">
            </li>
            <li>
              <button class="btn btn-round btn-primary btn-auth-login" data-cmd="login" ><%= E.getI18nLabel('auth.login') %></button>
            </li>
          </ul>
        </form>
  </script>

  <!-- Auth Profile Menu Template -->
  <script id="AuthProfileMenuTemplate" type="text/template">
      <li><button disabled="disabled">Profile</button></li>
      <li><button class="btn-cmd btn-auth-logout"><%= E.getI18nLabel('auth.logout') %></button></li>
  </script>
</div>
