<div id="DefaultComponentsTemplateContainer">

  <!-- Default Address Template -->
  <script id="DefaultAddressTemplate" type="text/template">
    <!-- defaultView, itemView tagName: ul, class: address-container -->
    <li class="address-name" data-el-value="address.name"><%= E.givenName %> <%= E.familyName %></li>
    <li class="address-street-address" data-el-value="address.streetAddress"><%= E.streetAddress %></li>
    <li class="address-extended-address" data-el-value="address.extendedAddress"><%= E.extendedAddress %></li>
    <li>
      <span class="address-city" data-el-value="address.city"><%= E.city %></span>,
      <span class="address-region" data-el-value="address.region"><%= E.region %></span>,
      <span class="address-country" data-el-value="address.country"><%= E.country %></span>
      <span class="address-postal-code" data-el-value="address.postalCode"><%= E.postalCode %></span>
    </li>
  </script>

  <!-- Default Address Form Template -->
  <script id="DefaultAddressFormTemplate" type="text/template">
    <!-- defaultView, itemView tagName: ul, class: address-form-container -->
    <li class="address-form-field">
      <label for="FirstName" data-el-label="addressForm.firstName">First Name</label>
      <input id="FirstName" name="FirstName" type="text" value="<%= E.givenName %>">
    </li>
    <li class="address-form-field">
      <label for="LastName" data-el-label="addressForm.lastName">Last Name</label>
      <input id="LastName" name="LastName" type="text" value="<%= E.familyName %>">
    </li>
    <li class="address-form-field">
      <label for="StreetAddress" data-el-label="addressForm.streetAddress">Street Address</label>
      <input id="StreetAddress" name="StreetAddress" type="text" value="<%= E.streetAddress %>">
    </li>
    <li class="address-form-field">
      <label for="ExtendedAddress" data-el-label="addressForm.extendedAddress">Extended Address</label>
      <input id="ExtendedAddress" name="ExtendedAddress" type="text" value="<%= E.extendedAddress %>">
    </li>
    <li class="address-form-field">
      <label for="City" data-el-label="addressForm.city">City</label>
      <input id="City" name="City" type="text" value="<%= E.city %>">
    </li>
    <li class="address-form-field">
      <label for="Country" data-el-label="addressForm.country">Country</label>
      <input id="Country" name="Country" value="<%= E.country %>">
    </li>
    <li class="address-form-field">
      <label for="Region" data-el-label="addressForm.region">State / Province</label>
      <input id="Region" name="Region" value="<%= E.region %>">
    </li>
    <li class="address-form-field">
      <label for="PostalCode" data-el-label="addressForm.postalCode">Zip / Postal Code</label>
      <input id="PostalCode" name="PostalCode" type="text" value="<%= E.postalCode %>">
    </li>
  </script>

  <!-- Default Create Address Form Template -->
  <script id="DefaultCreateAddressTemplate" type="text/template">
    <!-- defaultView, Layout tagName: div, class: -->
    <h3>New Address</h3>
    <div data-region="componentAddressFeedbackRegion"></div>

    <form class="form column-form" data-region="componentAddressFormRegion"></form>

    <div class="address-form-btn-container">
      <button class="btn btn-primary address-save-btn" data-el-label="addressForm.create">Save</button>
      <button class="btn btn-primary address-cancel-btn" data-el-label="addressForm.cancel">Cancel</button>
    </div>
  </script>


</div>