<!-- Copyright © 2014 Elastic Path Software Inc. All rights reserved. -->

<div id="ItemTemplateContainer">
    <!-- Default Item Detail Layout Template -->
    <script id="DefaultItemDetailLayoutTemplate" type="text/template">

    <div class="container"> <!-- bootstrap container -->
      <div class="itemdetail-container row">

        <div class="itemdetail-assets">
          <div data-region="itemDetailAssetRegion"></div>
        </div>

        <div class="itemdetail-details">
          <div data-region="itemDetailTitleRegion">
            <!--<div class="activity-indicator-container">-->
            <!--<img class="activity-indicator" src="images/activity-indicator-strobe.gif"/>-->
            <!--</div>-->
          </div>
          <div class="itemdetail-price-container" data-region="itemDetailPriceRegion"></div>
          <div data-region="itemDetailAvailabilityRegion"></div>
          <div data-region="itemDetailAttributeRegion"></div>
        </div>

        <div class="itemdetail-addtocart">
          <div data-region="itemDetailAddToCartRegion"></div>
        </div>
      </div>
    </div>
    <!-- end bootstrap container -->

    </script>


  <!-- Default Item Detail Title Template -->
     <script id="DefaultItemTitleTemplate" type="text/template">
<h1 class="itemdetail-title"><%= E.displayName %></h1>
  </script>






  <!-- Default Item Detail Asset Template -->
     <script id="DefaultItemAssetTemplate" type="text/template">
<img src="<%- E.getDefaultImagePath(E.assets) %>" alt="<%= E.getDefaultImageName(E.assets) %>"
         class="itemdetail-main-img"/>
    </script> <!-- Default Item Detail Attribute Template -->
     <script id="DefaultItemAttributeItemTemplate" type="text/template">
<td class="itemdetail-attribute-label-col">
      <%= E.displayName %>
    </td>
    <td class="itemdetail-attribute-value-col">
      <%= E.displayValue %>
    </td>
  </script>

  <!-- Item Availability Template -->
  <script id="ItemAvailabilityTemplate" type="text/template">
    <li class="itemdetail-availability itemdetail-availability-state" data-i18n="<%= E.state %>">
      <label><span class="icon"></span><%= E.getAvailabilityDisplayText(E.state) %></label></li>
    <li class="itemdetail-release-date" data-region="itemAvailabilityDescriptionRegion">
      <label class="itemdetail-release-date-label"><%= E.getI18nLabel('availability.releasedOn') %>: </label>
      <span class="itemdetail-release-date-value"><%= E.getAvailabilityReleaseDate(E.releaseDate) %></span>
    </li>
    </script> <!-- Item Price Master Template -->
     <script id="ItemPriceMasterViewTemplate" type="text/template">
<div data-region="itemPriceRegion"></div>
    <div data-region="itemRateRegion"></div>
    </script> <!-- Item Rate Template -->
     <script id="ItemRateTemplate" type="text/template">
<label class="itemdetail-rate-label"><%= E.getI18nLabel('itemDetail.rate') %></label>
    <span class="itemdetail-rate"><%= E.display %></span>
    </script> <!-- Item Price Template -->
     <script id="ItemPriceTemplate" type="text/template">
<li class="itemdetail-list-price" data-region="itemListPriceRegion">
      <label class="itemdetail-list-price-label"><%= E.getI18nLabel('itemDetail.listPrice') %></label>
      <span class="itemdetail-list-price-value"><%= E.getListPrice(E) %></span>
    </li>
    <li class="itemdetail-purchase-price">
      <label class="itemdetail-purchase-price-label"><%= E.getI18nLabel('itemDetail.purchasePrice') %></label>
      <span class="itemdetail-purchase-price-value"><%= E.getPurchasePrice(E) %></span>
    </li>
    </script> <!-- Default Item Detail Add To Cart Template -->
     <script id="DefaultItemDetailAddToCartTemplate" type="text/template">
<form class="itemdetail-addtocart-form form-horizontal" role="form">

      <div class="form-group">
        <label class="control-label col-sm-4" for="itemdetail-select-quantity"><%= E.getI18nLabel('itemDetail.quantity') %></label>

        <div class="form-content col-sm-8">
          <select class="form-control" id="itemdetail-select-quantity" name="itemdetail-select-quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
      <div class="form-group form-group-submit">
        <div class="form-content form-content-submit col-sm-8 col-sm-offset-4">
          <button class="btn-round btn btn-primary btn-itemdetail-addtocart" data-actionlink="<%= E.addtocart.actionlink %>"
          <%= E.checkForDisabledAddToCart(E) %> ><%= E.getI18nLabel('itemDetail.addToCart') %></button>
        </div>
      </div>

    </form>
    </script>
</div>
