/* start main nav*/
/* end main nav*/
/* Start Item Detail  */
/* End Item Detail */
/* Start Cart */
/* End Cart */
/* Start Auth */
/* End Auth */
/* line 2, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.btn-main-nav-toggle {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  padding: 0;
  border-radius: 4px;
  background-color: #424242;
  height: 50px;
}
/* line 12, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.btn-main-nav-toggle:active {
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #050505;
}
/* line 19, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.btn-main-nav-toggle img {
  height: 50px;
}
/* line 22, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-container {
  clear: both;
  border: 0px solid orange;
  min-width: 37rem;
}
/* line 28, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav {
  position: relative;
  border: 0px solid pink;
  text-align: center;
}
/* line 35, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-list {
  text-align: center;
  list-style: none;
  display: inline-block;
  border: 0px solid green;
  background-color: rgba(210, 210, 210, 0.68);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-bottom: 0;
  /*  display:none;*/

}
/* line 47, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-list .nav-v li {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}
/* line 54, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-container .nav-h li {
  display: inline-block;
}
/* line 57, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-container li {
  display: inline-block;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
/* line 65, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-container .nav-h {
  margin-bottom: .2em;
}
/* line 68, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-list li.is-selected {
  background-color: #ffffff;
  margin-bottom: 0;
}
/* line 73, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.nav-main-nav ul {
  list-style: none;
}
/* line 76, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.cmd-nav-item {
  text-decoration: none;
}
/* line 79, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.cmd-nav-item:hover {
  text-decoration: underline;
}
/* line 84, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-list li span {
  /* padding-top:.3rem;*/

  padding-right: 1.5rem;
  /*padding-bottom:.3rem;*/

  padding-left: 1.5rem;
}
/* line 91, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-list li:hover {
  background: #eee;
  color: #444;
}
/* line 95, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-list li span {
  color: #444444;
}
/* line 98, /Users/tim/mamp/elasticpath/ui-storefront/stylesrc/theme-core/mainnav.less */
.main-nav-list li:hover span {
  color: #2222aa;
}
