###############################################################################
# This file contains the configuration settings for running the importexport
# tool against an H2 database only for import.  
###############################################################################

db.connection.url=${datapopdb.url}
db.connection.username=${datapopdb.username}
db.connection.password=${datapopdb.password}
db.connection.driver_class=${datapopdb.jdbc.driver}

###############################################################################
# search related configuration - no attempts to make sure that search is running
# or pointing to the URL described below is made.
###############################################################################
search.host=${ep.search.url}

###############################################################################
# asset configuration
###############################################################################
asset.vfs.protocol=${ep.asset.vfs.protocol}
asset.vfs.host=${ep.asset.vfs.host}
asset.vfs.port=${ep.asset.vfs.port}
asset.vfs.username=${ep.asset.vfs.username}
asset.vfs.password=${ep.asset.vfs.password}
asset.vfs.rootpath=${ep.asset.vfs.rootpath}
asset.subfolder.image=images
asset.subfolder.digitalgoods=digitalassets
