<div id="ItemTemplateContainer">

  <!-- Default Item Detail Layout Template -->
  <script id="DefaultItemDetailLayoutTemplate" type="text/template">
    <div data-region="itemDetailTitleRegion"></div>
    <div data-region="itemDetailAssetRegion"></div>
    <div data-region="itemDetailAvailabilityRegion"></div>
    <div data-region="itemDetailAttributeRegion"></div>
    <div data-region="itemDetialPriceRegion"></div>
    <div data-region="itemDetail.SubscriptionRegion"></div>
    <div data-region="itemDetailAddToCartRegion"></div>
  </script>

  <!-- Default Item Detail Title Template -->
  <script id="DefaultItemTitleTemplate" type="text/template">
    <h1 class="item-title"><%= E.displayName %></h1>
  </script>

  <!-- Default Item Detail Asset Template -->
  <script id="DefaultItemAssetTemplate" type="text/template">
    <img src="<%= E.src %>" class="item-detail-main-img" />
  </script>

  <!-- Default Item Detail Attribute Template -->
  <script id="DefaultItemAttributeItemTemplate" type="text/template">
    <td class="item-attribute-label-col">
      <%= E.displayName %>
    </td>
    <td class="item-attribute-value-col">
      <%= E.displayValue %>
    </td>
  </script>

  <!-- Default Item Detail Availability Template -->
  <script id="DefaultItemDetailAvailabilityTemplate" type="text/template">
    <%= E.getAvailabilityDisplayText(E.availability) %>
  </script>

  <!-- Default Item Detail Price Template -->
  <script id="DefaultItemDetailPriceTemplate" type="text/template">
    <label i18n="listPriceLabel">Price:</label><span class="item-detail-value purchase-price"><%= E.getPurchasePrice(E.price) %></span>
  </script>

  <!-- Default Item Detail Subscription Template -->
  <script id="DefaultItemDetailSubscriptionTemplate" type="text/template">
    <div>[subscription info goes here]</div>
  </script>

  <!-- Default Item Detail Add To Cart Template -->
  <script id="DefaultItemDetailAddToCartTemplate" type="text/template">
    <button class="btn-round btn btn-primary btn-addtocart" <%= E.checkForDisabledAddToCart(E) %>>Add to Cart</button>
  </script>

</div>
.
