<div id="ExtCategoryTemplateContainer">

  <!-- Extended Category Item Template -->
  <script id="ExtCategoryItemTemplate" type="text/template">
    <div class="category-item-inner">

      <div class="category-item-title">
        <a href="<%= E.generateItemHref(E.uri) %>"><%= E.name %></a>
      </div>

      <div class="category-item-thumbnail-container">
        <img src="<%= E.getDefaultImagePath(E.thumbnail) %>" alt="<%= E.getDefaultImageName(E.thumbnail) %>"
             class="category-item-thumbnail img-responsive"/>

        <!--
            <div  alt="<%= E.getDefaultImageName(E.thumbnail) %>"
                 class="category-item-thumbnail img-responsive"  style="background-image:url(<%= E.getDefaultImagePath(E.thumbnail) %>)"/></div>
          -->
      </div>


      <div class="price-availability-wrapper">
        <div class="price-wrapper" data-region="priceRegion"></div>
        <div class="availability-wrapper" data-region="availabilityRegion"></div>
      </div>


      <div class="item-addtocart-container">
        <div class="item-quantity-container"><label class="item-quantity-label">QTY:</label><input type="number" id="item-select-quantity" name="quantity" value="1" min="1" max="5"></div>
        <button class="item-addcart-button" data-actionlink="<%= E.getCortexPath() %><%= E.addtocart.actionlink %>"
        <%= E.checkForDisabledAddToCart(E) %> >
        <span class="icon"></span>
        <span class="btn-text"><%= E.getI18nLabel('itemDetail.addToCart') %></span>
        </button>
      </div>


    </div>
  </script>

</div>
