<div id="ExtCategoryTemplateContainer">

  <!-- Extended Category Item Template -->
  <script id="ExtCategoryItemTemplate" type="text/template">
    <div class="category-item-inner">

      <div class="category-item-title">
        <a href="<%= E.generateItemHref(E.uri) %>"><%= E.name %></a>
      </div>

      <div class="category-item-thumbnail-container">
        <a href="<%= E.generateItemHref(E.uri) %>">
          <img src="<%= E.getDefaultImagePath(E.thumbnail) %>" alt="<%= E.getDefaultImageName(E.thumbnail) %>"
             class="category-item-thumbnail img-responsive"/>
        </a>

        <!--
            <div  alt="<%= E.getDefaultImageName(E.thumbnail) %>"
                 class="category-item-thumbnail img-responsive"  style="background-image:url(<%= E.getDefaultImagePath(E.thumbnail) %>)"/></div>
          -->
      </div>


      <div class="price-availability-wrapper">
        <div class="price-wrapper" data-region="priceRegion"></div>
        <div class="availability-wrapper" data-region="availabilityRegion"></div>
      </div>


      <div class="item-addtocart-container">
        <div class="item-quantity-container"><label class="item-quantity-label">QTY:</label><input type="number" id="item-select-quantity" name="quantity" value="1" min="1" max="5"></div>
        <button class="item-addcart-button" data-actionlink="<%= E.getCortexPath() %><%= E.addtocart.actionlink %>"
        <%= E.checkForDisabledAddToCart(E) %> >
        <span class="icon"></span>
        <span class="btn-text"><%= E.getI18nLabel('itemDetail.addToCart') %></span>
        </button>
      </div>


    </div>
  </script>


  <!-- Extended Item Availability Template -->
  <script id="ExtCategoryItemAvailabilityTemplate" type="text/template">
    <li class="category-item-availability itemdetail-availability-state" data-i18n="<%= E.state %>">
      <label><span class="icon"></span><%= E.getAvailabilityDisplayText(E.state) %></label>
    </li>
    <li class="category-item-release-date" data-region="itemAvailabilityDescriptionRegion">
      <label class="item-meta category-item-releaseDate-label"><%= E.getI18nLabel('availability.releasedOn') %>: </label>
      <span class="item-meta category-item-releaseDate-value"><%= E.formatDate(E.releaseDate) %></span>
    </li>
  </script>
</div>
