@import 'variables';
@import 'elements';
.app-header{
  border-top:1px solid #fff;
  position:relative;
  min-height:4em;
  padding-top:.2rem;
  border-bottom:0px solid #333;
  .gradient(@headerBgColorDefault, @headerBgColorStart, @headerBgColorStop);
  /*
  background-image: linear-gradient(bottom, rgb(0,0,0) 41%, rgb(66,66,66) 71%);
  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 41%, rgb(66,66,66) 71%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 41%, rgb(66,66,66) 71%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 41%, rgb(66,66,66) 71%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 41%, rgb(66,66,66) 71%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.41, rgb(0,0,0)),
    color-stop(0.71, rgb(66,66,66))
  );
  */

}
header.app-header .row{
  margin-bottom:0;
  background:transparent;
}
@media only screen and (max-width:49rem) {
  .logo-container{
    display:none;
  }
}
@media only screen and (max-width:31rem) {
  .main-search-container{
    display:none;
  }
}
.logo-container{
  float:left;
//   border:5px solid pink;
}
.cmd-home-logo img{
  height:3rem;
}


.btn-link-cmd{
  background:transparent;
  border:0;
  color:@mainNavLinkColorDefault;
}

.main-search-container{
  float:right;
  line-height: 3rem;
  margin-top:auto;
  margin-bottom:auto;
}
.main-search-container .btn-header-search{
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  background-color:#aaaaaa;

}
.global-nav-container{
  float:right;
  margin-right:1rem;
}
.global-nav-container ul{
  list-style: none;
}
.global-nav-container li{
  display:inline-block;
  margin:.3rem;
  line-height: 3rem;
  margin-top:auto;
  margin-bottom:auto;
}
.global-nav-container a{
  color:@globalNavLinkColorDefault;
}
