@import 'variables';

/*
  auth view
*/
.auth-nav-container {
  display: none;
  position: absolute;
  background: @authNavBackGroundColor;
}

.auth-profile-menu-container {
  margin-left: 0rem;
}

.auth-login-form {
  margin-left: 1rem;
  margin-right: 1rem;
}

.auth-login-form input {
  display:block;
  width: @authInputWidth;
}

.auth-feedback-container {
  color:@authFeedBackErrorMsgColor;
}