@import 'variables';

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body{
  font-size:100%;
  background-color:@bodyBgColor;
  color:@bodyColor;
}

h1 { font-size: @h1DefaultSize; } /*36/16*/
h2 { font-size: @h2DefaultSize; } /*24/16*/
h3 { font-size: @h3DefaultSize; } /*21/16*/
h4 { font-size: @h4DefaultSize; } /*18/16*/
h5 { font-size: @h5DefaultSize; } /*16/16*/

a {
  color:@defaultLinkColor;
}

ul{
  list-style: none;

}

.viewport{
  min-width:320px;
  max-width:90rem;
  margin-left:auto;
  margin-right:auto;
}

/* just examples */
@media only screen and (max-width:59rem) {
  body{

  }
}
@media only screen and (min-width:60rem) {
  body{

  }
}
  /* override some kube stuff */
.viewport .row{
  background:transparent;
}


button.btn-primary[disabled=disabled] {
  background:#cccccc;
  color:#aaaaaa;
}
.btn-primary{
  background: #33349a;
  color:#eeeeee;
}
.btn-primary:hover{
  background:#3333ff;
  color:#eeeeee;
}
.btn-primary:active{
  background:#0000aa;
  color:#ffffff;
  text-shadow: 3px 3px 2px rgba(250, 220, 220, 1);
}

