@import 'variables';

/*
  cart page
*/
.cart-lineitem-thumbnail{
  width:@cartLineitemThumbnailWidth;
}

.cart-lineitem-title-col {
  font-family:@cartLineitemTitleFontFamily;
  font-size:@cartLineitemTitleFontSize;
  font-weight:@cartLineitemTitleFontWeight;
}

.cart-lineitem-availability-col ul {
  margin: 0rem;
}

.cart-lineitem-releasedate-label {
  display: block;
}


.cart-lineitem-unit-price-col ul {
  margin: 0rem;
}

.cart-lineitem-total-price-col ul {
  margin: 0rem;
}

.cart-list-price{
  text-decoration: line-through;
}

.cart-summary-container {
  margin:3rem;
}

.cart-summary-label-col {
  display: inline-block;
  width:10rem;
}

.cart-summary-value-col {
  display: inline-block;
  width:10rem;
  text-align: right;
}