@bodyBgColor:#ffffff;
@bodyColor:#444444;
@defaultLinkColor:#070CA6;
@headerBgColorDefault:#eeeeee;
@headerBgColorStart:#eeeeee;
@headerBgColorStop:#cccccc;
@globalNavLinkColorDefault:#070CA6;
@contextMenuBgColorDefault:#dddddd;
@contextMenuItemColorDefault:#000000;
@viewTitleColor:#000000;
@h1DefaultSize:2.5rem;
@h2DefaultSize:1.5rem;
@h3DefaultSize:1.3125rem;
@h4DefaultSize:1.125rem;
@h5DefaultSize:1rem;
/* start main nav*/
@mainNavLinkColorDefault:#444444;
@mainNavLinkColorDefaultHover:#2222aa;
/* end main nav*/

/* Start Item Detail  */
@itemDetailTitleFontSize:1.3rem;
@itemDetailTitleColor:#777777;
@itemDetailTitleFontFamily:freesans, Helvetica, Arial, clean, sans-serif;
@itemDetailMainImageDefaultWidth:20rem;
@itemDetailMainImageDefaultHeight:16rem;
@itemDetailAvailabilityColor:#ffffff;
@itemDetailAvailabilityBgColor:darkorange;
@itemDetailAvailabilityFontSize:120%;
@itemDetailAttributeColFontSize:90%;
@itemDetailAttributeColColor:#444444;
@itemDetailPurchasePriceColor:#444444;
/* End Item Detail */

/* Start Cart */
@cartLineitemThumbnailWidth:10rem;
@cartLineitemThumbnailHeight:8rem;
@cartLineitemTitleFontFamily:Helvetica, arial, freesans, clean, sans-serif;
@cartLineitemTitleFontSize:100%;
@cartLineitemTitleFontWeight:bold;
/* End Cart */

/* Start Auth */
@authNavBackGroundColor: #FFFFFF;
@authInputWidth: 10rem;
@authFeedBackErrorMsgColor: #FF0000;
/* End Auth */