@bodyBgColor:#ffffff;
@bodyColor:#444444;
@defaultLinkColor:#070CA6;
@headerBgColorDefault:#eeeeee;
@headerBgColorStart:#eeeeee;
@headerBgColorStop:#cccccc;
@globalNavLinkColorDefault:#070CA6;
@mainNavLinkColorDefault:#070CA6;
@contextMenuBgColorDefault:#dddddd;
@contextMenuItemColorDefault:#000000;
@viewTitleColor:#000000;
@h1DefaultSize:2.5rem;
@h2DefaultSize:1.5rem;
@h3DefaultSize:1.3125rem;
@h4DefaultSize:1.125rem;
@h5DefaultSize:1rem;

