###############################################################################
# application.config
# This file contains the configuration settings for running the importexport
# project.
###############################################################################

###############################################################################
###############################################################################

db.connection.url=${epdb.url}
db.connection.username=${epdb.username}
db.connection.password=${epdb.password}
db.connection.driver_class=${epdb.jdbc.driver}

###############################################################################
# search related  configuration
###############################################################################
search.host=${ep.search.url}

###############################################################################
# asset configuration
###############################################################################
asset.vfs.protocol=${ep.asset.vfs.protocol}
asset.vfs.host=${ep.asset.vfs.host}
asset.vfs.port=${ep.asset.vfs.port}
asset.vfs.username=${ep.asset.vfs.username}
asset.vfs.password=${ep.asset.vfs.password}
asset.vfs.rootpath=${ep.asset.vfs.rootpath}
asset.subfolder.image=images
asset.subfolder.digitalgoods=digitalassets
