<div id="CategoryTemplateContainer">

  <script id="DefaultCategoryLayoutTemplate" type="text/template">
    <div data-region="categoryTitleRegion"></div>
    <div data-region="categoryPaginationTopRegion"></div>
    <div data-region="categoryBrowseRegion"></div>
    <div data-region="categoryPaginationBottomRegion"></div>
  </script>

  <script id="CategoryTitleTemplate" type="text/template">
    <h1 class="view-title"><%= E.title %></h1>
  </script>

  <script id="CategoryItemTemplate" type="text/template">
    <div>thumbnail</div>
    <div>Item Name</div>
    <div>availability</div>
    <div>Prices</div>
  </script>

  <script id="CategoryItemCollectionEmptyTemplate" type="text/template">
    <%= E.getI18nLabel('category.emptyViewMsg') %> empty
  </script>

  <script id="CategoryPaginationTemplate" type="text/template">
    <div class="paginationStatsContainer">
      <%= E.getI18nLabel('category.resultsOnPage') %> : <%= E.resultsOnPage %> <br />
      <%= E.getI18nLabel('category.totalResults') %> : <%= E.totalResults %>
    </div>
    <div class="pagination-navigation-container">
      <button class="btn-pagination" value="prev"><%= E.getI18nLabel('category.prev') %></button> |
      <button class="btn-pagination" value="next"><%= E.getI18nLabel('category.next') %></button>
    </div>
  </script>
</div>
