<div id="CategoryTemplateContainer">

  <!-- Category Default Layout Template -->
  <script id="CategoryDefaultLayoutTemplate" type="text/template">
    <div data-region="categoryTitleRegion"></div>
    <div data-region="categoryPaginationTopRegion"></div>
    <div data-region="categoryBrowseRegion">
      <img src="/images/activity-indicator-strobe.gif" />
    </div>
    <div data-region="categoryPaginationBottomRegion"></div>
  </script>

  <!-- Category Title Template -->
  <script id="CategoryTitleTemplate" type="text/template">
    <h1 class="view-title"><%= E.title %></h1>
  </script>


  <!-- Category Item Template -->
  <script id="CategoryItemTemplate" type="text/template">
    <div class="row">
      <div class="quarter">
        <img src="<%= E.getDefaultImagePath(E.thumbnail) %>" alt="<%= E.getDefaultImageName(E.thumbnail) %>"
             class="category-item-thumbnail"/>
      </div>
      <div class="threequarter">
        <div class="category-item-title">
          <a href="<%= E.generateItemHref(E.uri) %>"><%= E.name %></a>
        </div>
        <div data-region="availabilityRegion"></div>
        <div data-region="priceRegion"></div>
      </div>
    </div>
  </script>

  <!-- Item Price Master Template -->
  <script id="ItemPriceMasterViewTemplate" type="text/template">
    <div data-region="itemPriceRegion"></div>
    <div data-region="itemRateRegion"></div>
  </script>

  <!-- Item Rate Template -->
  <script id="ItemRateTemplate" type="text/template">
    <span class="category-item-rate"><%= E.display %></span>
  </script>

  <!-- Item Price Template -->
  <script id="ItemPriceTemplate" type="text/template">
    <li class="category-item-list-price" data-region="itemListPriceRegion">
      <%= E.getI18nLabel('itemDetail.listPrice') %>
      <span class="category-item-list-price-value"><%= E.getListPrice(E) %></span>
    </li>
    <li class="category-item-purchase-price">
      <%= E.getI18nLabel('itemDetail.purchasePrice') %>
      <%= E.getPurchasePrice(E) %>
    </li>
  </script>

  <!-- Item Availability Template -->
  <script id="ItemAvailabilityTemplate" type="text/template">
    <li class="category-item-availability itemdetail-availability-state" data-region="itemAvailabilityStateRegion"><%= E.getAvailabilityDisplayText(E.state) %></li>
    <li class="category-item-release-date" data-region="itemAvailabilityDescriptionRegion">
      <label class="category-item-releaseDate-label"><%= E.getI18nLabel('availability.releasedOn') %>: </label>
      <span class="category-item-releaseDate-value"><%= E.getAvailabilityReleaseDate(E.releaseDate) %></span>
    </li>
  </script>


  <!-- Category Item Collection Empty Template -->
  <script id="CategoryItemCollectionEmptyTemplate" type="text/template">
    <%= E.getI18nLabel('category.emptyViewMsg') %>
  </script>

  <!-- Category Pagination Template -->
  <script id="CategoryPaginationTemplate" type="text/template">
    <div class="paginationStatsContainer">
      <div class="paging-results-per-page">
        <%= E.getI18nLabel('category.resultsOnPage') %> : <span
        class="pagingnation-value"><%= E.stats.resultsOnPage %></span>
      </div>
      <div class="paging-total-results">
        <%= E.getI18nLabel('category.totalResults') %> : <span
        class="pagingnation-value"><%= E.stats.totalResults %></span>
      </div>
      <div class="paging-current-page">
        <%= E.getI18nLabel('category.currentPage') %> : <span
        class="pagingnation-value"><%= E.stats.currentPage %></span>
      </div>
      <div class="paging-total-pages">
        <%= E.getI18nLabel('category.totalPage') %> : <span class="pagingnation-value"><%= E.stats.numOfPages %></span>
      </div>
    </div>
    <div class="pagination-navigation-container">
      <button class="btn-pagination" value="prev" data-actionlink="<%= E.links.prev %>"
      <%= E.checkForDisabledPaginationBtn(E.links.prev) %> ><%= E.getI18nLabel('category.prev') %></button>
      <button class="btn-pagination" value="next" data-actionlink="<%= E.links.next %>"
      <%= E.checkForDisabledPaginationBtn(E.links.next) %> ><%= E.getI18nLabel('category.next') %></button>
    </div>
  </script>
</div>
