<div id="ExtItemTemplateContainer">

  <!-- Extende Item Detail Layout Template -->
  <script id="ExtItemDetailLayoutTemplate" type="text/template">

    <div class="container"> <!-- bootstrap container -->
      <div class="itemdetail-container row">

          <div data-region="itemDetailTitleRegion" class="itemdetail-title-container">
            <!--<div class="activity-indicator-container">-->
            <!--<img class="activity-indicator" src="/images/activity-indicator-strobe.gif"/>-->
            <!--</div>-->
          </div>

        <div class="itemdetail-assets">
          <div data-region="itemDetailAssetRegion"></div>
        </div>

        <div class="itemdetail-details">


          <div class="itemdetail-price-container" data-region="itemDetailPriceRegion"></div>
          <div data-region="itemDetailAvailabilityRegion"></div>

          <div class="itemdetail-tabs">
            <div data-region="itemDetailAttrTitleRegion" class="itemdetail-tab-nav"></div>
            <div data-region="itemDetailAttrContentRegion" class="itemdetail-tabcontent"></div>
          </div>
        </div>

        <div class="itemdetail-addtocart">
          <div data-region="itemDetailAddToCartRegion"></div>
        </div>
      </div>
    </div>
    <!-- end bootstrap container -->
  </script>

  <!-- Extended Item Detail Tab Content Template -->
  <script id="ExtItemDetailAttrContentTemplate" type="text/template">
    <%= E.displayValue %>
  </script>

  <!-- Extended Item Detail Tab Title Template -->
  <script id="ExtItemDetailAttrTitleTemplate" type="text/template">
    <a data-toggle="tab" data-target="#<%= E.attrKey %>"><%= E.displayName %></a>
  </script>

  <!-- Extended Item Availability Template -->
  <script id="ExtItemAvailabilityTemplate" type="text/template">
    <li class="itemdetail-availability itemdetail-availability-state" data-i18n="<%= E.state %>">
      <label><span class="icon"></span><%= E.getAvailabilityDisplayText(E.state) %></label></li>
    <li class="itemdetail-release-date" data-region="itemAvailabilityDescriptionRegion">
      <label class="itemdetail-release-date-label"><%= E.getI18nLabel('availability.releasedOn') %>: </label>
      <span class="itemdetail-release-date-value"><%= E.formatDate(E.releaseDate) %></span>
    </li>
  </script>

  <!-- Extended Item Detail Add To Cart Template -->
  <script id="ExtItemDetailAddToCartTemplate" type="text/template">
    <form class="itemdetail-addtocart-form form-horizontal" role="form">

      <div class="form-group">
        <label class="control-label col-sm-4" for="itemdetail-select-quantity"><%= E.getI18nLabel('itemDetail.quantity')
          %></label>

        <div class="form-content col-sm-8">

            <input type="number" id="itemdetail-select-quantity" name="quantity" value="1" min="1" max="10">

<!--          <select class="form-control" id="itemdetail-select-quantity" name="itemdetail-select-quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>

-->
        </div>
      </div>
      <div class="form-group form-group-submit">
        <div class="form-content form-content-submit col-sm-8 col-sm-offset-4">
          <button class="btn-itemdetail-addtocart"
                  data-actionlink="<%= E.getCortexPath() %><%= E.addtocart.actionlink %>"
          <%= E.checkForDisabledAddToCart(E) %> ><span class="icon"></span><%= E.getI18nLabel('itemDetail.addToCart') %></button>
        </div>
      </div>

    </form>
  </script>

</div>
