<!-- Copyright © 2014 Elastic Path Software Inc. All rights reserved. -->

<div id="CategoryTemplateContainer">

  <!-- Category Default Layout Template -->
  <script id="CategoryDefaultLayoutTemplate" type="text/template">
    <div data-region="categoryTitleRegion"></div>
    <div data-region="categoryPaginationTopRegion"></div>
    <div data-region="categoryBrowseRegion">
      <div class="activity-indicator-container">
        <img class="activity-indicator" src="images/activity-indicator-strobe.gif"/>
      </div>
    </div>
    <div data-region="categoryPaginationBottomRegion"></div>
  </script>

  <!-- Category Title Template -->
  <script id="CategoryTitleTemplate" type="text/template">
    <h1 class="view-title"><%= E.title %></h1>
  </script>


  <!-- Category Item Template -->
  <script id="CategoryItemTemplate" type="text/template">
    <div class="category-item-inner">

        <div class="category-item-thumbnail-container">
          <img src="<%= E.getDefaultImagePath(E.thumbnail) %>" alt="<%= E.getDefaultImageName(E.thumbnail) %>"
                class="category-item-thumbnail img-responsive"/>

      <!--
          <div  alt="<%= E.getDefaultImageName(E.thumbnail) %>"
               class="category-item-thumbnail img-responsive"  style="background-image:url(<%= E.getDefaultImagePath(E.thumbnail) %>)"/></div>
        -->
       </div>



        <div class="category-item-title">
          <a href="<%= E.generateItemHref(E.link) %>"><%= E.name %></a>
        </div>
        <div data-region="priceRegion"></div>
        <div data-region="availabilityRegion"></div>


    </div>
  </script>

  <!-- Item Price Master Template -->
  <script id="CategoryItemPriceMasterViewTemplate" type="text/template">
    <div data-region="itemPriceRegion"></div>
    <div data-region="itemRateRegion"></div>
  </script>

  <!-- Item Rate Template -->
  <script id="CategoryItemRateTemplate" type="text/template">
    <label class="item-meta category-item-rate-label"><%= E.getI18nLabel('itemDetail.rate') %></label>
    <span class="item-meta category-item-rate-value"><%= E.display %></span>
  </script>

  <!-- Item Price Template -->
  <script id="CategoryItemPriceTemplate" type="text/template">
    <li class="category-item-list-price" data-region="itemListPriceRegion">
      <label class="item-meta category-item-list-price-label"><%= E.getI18nLabel('itemDetail.listPrice') %></label>
      <span class="item-meta category-item-list-price-value"><%= E.getListPrice(E) %></span>
    </li>
    <li class="category-item-purchase-price">
      <label class="item-meta category-item-purchase-price-label"><%= E.getI18nLabel('itemDetail.purchasePrice') %></label>
      <span class="item-meta category-item-purchase-price-value"><%= E.getPurchasePrice(E) %></span>
    </li>
  </script>

  <!-- Item Availability Template -->
  <script id="CategoryItemAvailabilityTemplate" type="text/template">
    <li class="category-item-availability itemdetail-availability-state" data-i18n="<%= E.state %>">
      <label><span class="icon"></span><%= E.getAvailabilityDisplayText(E.state) %></label>
    </li>
    <li class="category-item-release-date" data-region="itemAvailabilityDescriptionRegion">
      <label class="item-meta category-item-releaseDate-label"><%= E.getI18nLabel('availability.releasedOn') %>: </label>
      <span class="item-meta category-item-releaseDate-value"><%= E.getAvailabilityReleaseDate(E.releaseDate) %></span>
    </li>
  </script>


  <!-- Category Item Collection Empty Template -->
  <script id="CategoryItemCollectionEmptyTemplate" type="text/template">
    <%= E.getI18nLabel('category.emptyViewMsg') %>
  </script>

  <!-- Category Pagination Template -->
  <script id="CategoryPaginationTemplate" type="text/template">
    <div class="paging-total-results">
      <span class="pagination-value pagination-total-results-value"><%= E.stats.totalResults %></span>
      <label class="pagination-label pagination-total-results-label"><%= E.getI18nLabel('category.totalResults') %></label>
      ( <span class="pagination-value pagination-results-displayed-value"><%= E.stats.resultsOnPage %></span>
      <label class="pagination-label"><%= E.getI18nLabel('category.resultsOnPage') %></label> )

    </div>

    <div class="pagination-navigation-container">
      <a class="btn-pagination btn-pagination-prev pagination-link <%= E.checkForDisabledPaginationBtn(E.links.prev) %>" data-i18n="category.prev"
        <%= E.generatePaginationLink(E.categoryHref, E.links.prev) %> > <span class="icon"></span><%= E.getI18nLabel('category.prev') %></a>
      <span class="pagestate-summary">
        <label class="pagination-label"><%= E.getI18nLabel('category.page') %></label>
        <span class="pagination-value pagination-curr-page-value"><%= E.stats.currentPage %></span>
        <label class="pagination-label"><%= E.getI18nLabel('category.of') %></label>
        <span class="pagination-value pagination-total-pages-value"><%= E.stats.numOfPages %></span>

      </span>

      <a class="btn-pagination btn-pagination-next pagination-link <%= E.checkForDisabledPaginationBtn(E.links.next) %>" data-i18n="category.next"
          <%= E.generatePaginationLink(E.categoryHref, E.links.next) %> ><%= E.getI18nLabel('category.next') %><span class="icon"></span></a>
    </div>
  </script>


</div>
